celery[redis]>=5.4,<6.0
fastapi>=0.111,<1.0
geoalchemy2>=0.15,<1.0
pydantic>=2.7,<3.0
pydantic-settings>=2.3,<3.0
psycopg[binary]>=3.1,<4.0
redis>=5.0,<6.0
sqlalchemy>=2.0.30,<3.0
stravalib>=2.0,<3.0
uvicorn[standard]>=0.46.0,<1.0
